<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Amit\Affiliate\Api\AffRepositoryInterface"
                type="Amit\Affiliate\Model\AffRepository" />

</config>